{% extends 'base.html.twig' %}

{% block title %}
  Réservations
{% endblock %}

{% block body %}
  <h1>Les réservations pour salle {{ workspace.name }}</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Utilisateur</th>
        <th>Date de début</th>
        <th>Date de fin</th>
      </tr>
    </thead>
    <tbody>
      {% for resa in reservation %}
        <tr>
          <td>{{ resa.user.firstName }} {{ resa.user.lastName }}</td>
          <td>{{ resa.RentalStart|date('d/m/Y H:i') }}</td>
          <td>{{ resa.RentalEnd|date('d/m/Y H:i') }}</td>
        </tr>
      {% else %}
        <tr>
          <td colspan="4">Aucune réservation trouvée pour ce workspace.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="{{ path('app_admin_workplace_index') }}" class="btn btn-secondary">Retour aux salles</a>
{% endblock %}
